
.background{

    -fx-background-image: url("/resourse/display.gif");
}

.blue{
    -fx-background-color: #ff5252;
}
.lightwhitw{
    -fx-background-color: #bbdefb;

}
.honey{
    -fx-background-color: #ffd500;
}
.black{
    -fx-background-color: #212121;

}

.userpic{
    -fx-background-image: url("/resourse/user.png");
}