@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

.blue{
    -fx-background-color: #ff5252;
}
.lightwhitw{
    -fx-background-color: #bbdefb;

}
.honey{
    -fx-background-color: #ffd500;
}
.black{
    -fx-background-color: #212121;

}

.userpic{
    -fx-background-image: url("/resourse/user.png");
}

.logindiv {
    height: 200px;
    width: 200px;
    -fx-background-color: linear-gradient(to right, #50c923 0%, #2c7ee0 25%, #e50909 50%, #4d2f2f 75%);
}
.changedBackgroundColor{
    -fx-background-color: #D3DEDC;
}

.eventnamefont{
    -fx-font-family: 'League Gothic', sans-serif ;
    -fx-font-size: 24;

}